<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Análise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container">

    <h1 class="mt-5 mb-4">Resultado da Análise</h1>
    <h2 id="feature">Caracteristica selecionada: </h2>
    <p id="mean_value">Média: </p>
    <p id="median_value">Mediana: </p>
    <p id="max_value">Máximo: </p>
    <p id="min_value">Mínimo: </p>
</body>
</html>