<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Análise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Resultado da Análise</h1>
    <h2>Caracteristica selecionada: {{ feature }}</h2>
    <p>Média: {{ mean_value }}</p>
    <p>Mediana: {{ median_value }}</p>
    <p>Máximo: {{ max_value }}</p>
    <p>Mínimo: {{ min_value }}</p>
</body>
</html>